<div class="jankx-search-filters filter-group" data-settings="{$atts|json}" n:if="$has_items">
    <h4 class="filter-title">
        {$atts['title'] ?? (reset($tax_data)['tax_obj']->label)}
    </h4>
    <ul class="filter-list">
        {foreach $tax_data as $taxonomy => $data}
            <li n:foreach="$data['terms'] as $term">
                <label>
                    <input type="checkbox" name="filter[{$taxonomy}][]" value="{$term->term_id}">
                    <span class="term-name">{$term->name}</span>
                    <span class="term-count">({$term->count})</span>
                </label>
            </li>
        {/foreach}
    </ul>
</div>

