<div class="jankx-search-filter filter-{$taxonomy}" data-settings="{$atts|json}">
    <h3 n:if="!empty($atts['title']) || !empty($tax_obj->label)" class="filter-title">
        {$atts['title'] ?? $tax_obj->label}
    </h3>
    <ul class="filter-list">
        <li n:foreach="$terms as $term">
            <label>
                <input type="checkbox" name="filter[{$taxonomy}][]" value="{$term->slug}">
                <span class="term-name">{$term->name}</span>
                <span class="term-count">({$term->count})</span>
            </label>
        </li>
    </ul>
</div>
